<div id="<%= dom_id playlist %>">
  <p>
    <strong>Song:</strong>
    <%= playlist.Song %>
  </p>

  <p>
    <strong>Singer:</strong>
    <%= playlist.Singer %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= playlist.Album %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= playlist.year %>
  </p>

</div>
