<p style="color: green"><%= notice %></p>

<h1>Playlists</h1>

<div id="Playlists">

<table>
<tr>
<th><%= link_to "Song" , :sort => "Song"%> </th>
<th><%= link_to "Singer" , :sort => "Singer"%> </th>
<th><%= link_to "Album" , :sort => "Album"%> </th>
<th><%= link_to "Year" , :sort => "Year"%> </th>

</tr>

<% @playlists.each do |playlist| %>
  <tr>
  <td><%=playlist.Song %></td><td>
    <td><%= playlist.Singer%></td>              
    <td><%=playlist.Album %></td>
    <td><%=playlist.year %></td>
    
         
  </tr>
  <% end %>
 </table>

  <% @playlists.each do |playlist| %>
    <%= render playlist %>
    <p>
      <%= link_to "Show this playlist", playlist %>
    </p>
  <% end %>
</div>

<%= link_to "Add a song to playlist", new_playlist_path %>
<div class="p-3 mb-2 bg-light text-dark">
    <span class="text-info font-weight-bold">Welcome to Playlist! fill in your favorite songs
  </div>
</div>



