<p style="color: green"><%= notice %></p>

<h1>Playlists</h1>

<div id="Playlists">

<table>
<tr>
<th class="text-center" ><%= link_to "Song" , :sort => "Song"%> </th><th>
<th class="text-center" ><%= link_to "Singer" , :sort => "Singer"%> </th> <th>
<th class="text-center" ><%= link_to "Album" , :sort => "Album"%> </th> <th>
<th class="text-center" ><%= link_to "Year" , :sort => "Year"%> </th> <th>

</tr>

<% @playlists.each do |playlist| %>
  <tr>
  <td class="text-center" ><%=playlist.Song %></td><td>
    <td class="text-center" ><%= playlist.Singer%></td> <td>             
    <td class="text-center" ><%=playlist.Album %></td> <td>
    <td class="text-center" ><%=playlist.year %></td> <td>
    <td class="text-center"><%= button_to "Show",playlist_path(playlist),method: :get, class:"btn-success border-0 rounded-pill shadow px-2 py-2" %></td>
    <td class="text-center"><%= button_to "Edit",edit_playlist_path(playlist),method: :get, class:"btn-primary border-0 rounded-pill shadow px-2 py-2" %></td>
   <td class="text-center"><%= button_to "Delete",playlist_path(playlist),method: :delete, class:"btn-danger border-0 rounded-pill shadow px-2 py-2" %></td>
         
  </tr>
  <% end %>
 </table>

  <% @playlists.each do |playlist| %>
    <%= render playlist %>
    <p>
      <%= link_to "Show this playlist", playlist %>
    </p>
  <% end %>
</div>

<%= link_to "Add a song to playlist", new_playlist_path %>
<div class="p-3 mb-2 bg-light text-dark">
    <span class="btn-info border-0 rounded-pill shadow p-2 m-2">Welcome to Playlist! fill in your favorite songs
  </div>
</div>

  

